<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title "Time2Code" %}</title>
        <style>
            header{text-align: start; margin-bottom: 50px; background-color: #000; color: #FFF}
            header h1{margin-left: 0}
            body{text-align: center;}
        </style>
    </head>
    <body>
    <header><h1>Mon Application Web !</h1></header>
        {% block body %} {% endblock %}
    </body>

</html>